 /* global settings*/
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0 15px;
    background-color:white;
    
}
p{
    margin: 10px 0;
}

.btn{ 
    padding: 5px 10px;
    background-color: rgb(15, 15, 100);   
    text-decoration: none;
    border: none;
    width: 150px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
    
}
a{
    color:white;
    text-decoration: none;
    font-weight: 800;
}
/* End of global styles*/

/* beginning of header styles*/

header{
    padding: 0 15px;
    margin: 10px auto;  
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-between;
    align-items: center;
    background-color:rgb(15, 15, 100);  
    position: sticky;
    top: 0;
}
header a{
    color: #F66B2C;
    font-weight: 700;
    text-decoration: none;
}

.nav_bar ul{       
    display: flex;
    flex-flow: row nowrap; 
    justify-content: center;    
    align-items: center;

}
.nav_bar li{
    list-style-type: none;
    padding: 15px;
    font-weight: 400;
    font-size: 15px;

}

.nav_bar li a:hover, a:visited{
    color:aqua;
}
/*end of header styles*/

/*beginning of showcase styles*/
.showcase{
    background-image: url(images/teamphoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
    height: 90vh;
    padding: 0 15px;
    opacity: 0.5;  

}

.showcase-text{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding: 200px 0 ;
    opacity: 3;
    margin: 0 auto;
    text-align: center;
    
}
.showcase-text h1{
    
    padding: 10px 5px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    background-color: white;
    color:rgb(15, 15, 100);
    margin: 0 auto;
    
}

.showcase-text h2{
    padding-bottom: 25px;
    color: rgb(200, 0, 15);
    margin: 0 auto;
    padding:60px 5px;
    font-size: 30px;
}

/*end of showcase styles*/

/*start of introduction styles*/
.Intro{

    margin-top: 15px;
    text-align: center;
    padding: 20px 5px;
    background-color: #F66B2C;
}
/*end of intro style */

/*  start of service section class*/

#arua{
    text-align: center;
    margin: 15px 0;
}
.service{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 50;
    border: 10px solid rgb(15, 15, 100);
    border-bottom: none;
    border-radius: 15px;
    padding: 5px 15px;  
}
 /*end of service section */

/*start of boxes style*/

#boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    background-color: aqua;
    border-radius: 20px;
}

.box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
#placeholder{
    padding: 0 15px;
    font-weight: 600;
    
}
#placeholder i{
font-weight: 500;
font-size: 75px;
}
#side_bar
 {
    width: 15%;
    background: #F66B2C;
    color:rgb(15, 15, 100);
    border:rgb(15, 15, 100);
    margin-right: 15px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.07);
    height: 480px;
    margin-top: -50px;
    
}
#side_bar h2{
    border:solid white 2px;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin: 0 auto;
}
#boxes h3{
    color: #F66B2C;
    background-color: rgb(15, 15, 100);
    border-radius: 10px;
    padding: 5px 5px;
    display: inline-block;
}

#orange{
    border-left: 5px solid #F66B2C;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* end of container styles*/

/* beginning ofrg wrapper styles*/
.wrapper{
    display: flex;

    justify-content:space-evenly;
    align-items: flex-start;
    /*overflow: scroll;*/
    padding: 0 15px;
    flex-flow: row;

}
.clients{
    text-align: center;
    padding: 10px 0;
    color: rgb(15, 15, 100);
}
 .item{
    width: 20%;
    border: 5px solid aqua;
    box-shadow: 10px 10px 10px rgb(15, 15, 100);
    border-radius: 15px;
    /*gap: 5px;*/
    height: 700px;
    padding: 0 15px 0 15px;
    text-align: centre;

 }

 .item:hover{
    border: 5px solid rgb(15, 15, 100);
    box-shadow: 10px 10px 10px #F66B2C;
    
    
 }
   

 .wrapper:hover h2{
    color: #F66B2C;
    border: 5px solid rgb(15, 15, 100);
    border-radius: 5px;

 }

 .highlight{
    color: #F66B2C;
    font-weight: 300;
    font-size: 32px;
    background-color: rgb(15, 15, 100);
    padding: 5px 15px;
    border-radius: 15px;
    margin-top: 20px;
 }
.wrapper img{
    width: 100%;
    border-radius: 100%;
    height: 50vh;
}
/*wrapper styles ends here*/

.team_mates{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    align-items: flex-start;
    /*overflow: scroll;*/
    padding: 0 15px;  

}
.name{
    text-align: center;
    color:rgb(15, 15, 100);
    font-weight: 600;
}

.team{
    width: 20%;
    border: 5px solid aqua;
    box-shadow: 10px 10px 10px rgb(15, 15, 100);
    border-radius: 15px;
    /*gap: 5px;*/
    height: 450px;
    padding: 0 15px 0 15px;
    text-align: centre;
}

.team image{
    width: 100%;
}

.calltoaction{
    background-color: #F66B2C;
    text-align: center;
    padding-top: 15px;
    color:white;
    height: 100px;
    margin-top: 15px;
}
.calltoaction button{
    color: white;
    margin: 10px;
    font-weight: 600;
}
footer{
background-color:rgba(15, 15 ,100, 1);
color: white;
padding: 15px 5px;

}

.sub{
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 20px;
}

.field input{
    height: 50px;
    width: 400px;
}
.field button{
    height: 50px;
    background-color:aqua;
    width: 100px;
}

#next{
    text-align: center;
}
#copy{
    padding-top: 20px;
    text-align: center;
    color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*#aqua{
    padding: 30px 0;
    font-size: 34px;
    background-color: aqua;
}
*/





